.edit-display{
    display: flex;
    flex-direction: column;
    // min-height: 1100px;
    .edit-panel{
        display: flex;
        flex-direction: column;
        min-height: 1100px;
        .edit-account-details{
            display: flex;
            flex-direction: column;
            width: 70vw;
    }
        label{
            align-self: flex-end;
        }
        input{
            width: 400px;
            align-self: center;
            margin: 5px;
        }
        button{
            margin: 10px;
            width: 100px;
        }
        a, a:visited{
            color: inherit;
            text-decoration: none;
            margin: 0;
        }
        &.media{
           height: 100%;
           flex-direction: row;
           .left{
               border: 2px solid blue;
               height: 100%;
               width: 50%;
               background-color: #f8f8f8;
               border-right: none;
               display: flex;
               flex-direction: column;
               padding-bottom: 100px;
               .selected-media{
                   padding: 5px;
                   margin-top: 0;
                   position: relative;
                   right: -1px;
                   background-color: white;
                   border: 1px solid #ebebeb;
                   border-right: 2px solid white;
                   height: 90px;
                   display: flex;
                   .cover-image{
                        height: 70px;
                        width: 70px;
                        margin-right: 5px;
                        &.empty{
                            border: 1px dashed #c9c7c7;
                        }
                   }
                   .media-info{
                       display: flex;
                       flex-direction: column;
                       justify-content: flex-start;
                       h2{
                           margin: 2px;
                           font-weight: normal;
                       }
                       span{
                           margin-left: 2px;
                       }
                   }
               }
               .general-controls{
                   display: flex;
                   flex-direction: column;
                   height: 100%;
                   .adder-buttons{
                       display: flex;
                       justify-content: space-between;
                   }
               }
           }
           .right{
               border: 2px solid red;
               border-left: 1px solid #ebebeb;
               min-height: 100%;
               width: 50%;
               display: flex;
               form{
                   width: 448px;
                   margin-left: auto;
                   margin-right: auto;
                   display: flex;
                   flex-direction: column;
                   align-content: flex-start;
                   div.title-wrapper{
                       left: -10px;
                       position: relative;
                       width: 100%;
                   }
                   span.border-span{
                       display: block;
                       width: 90%;
                       margin: auto;
                       border-bottom: 1px dotted #c9c7c7;
                       letter-spacing: 5px;
                   }
                   .default{
                       color: rgb(176,176,176);
                   }
               }
           }
        }
        ul {
            list-style: none;
            padding: 10px;
            padding-right: 0px;
            width: 200%;
            // border: 1px solid purple;
            li.track-edit{
                padding: 10px;
                padding-right: none;
                // border: 1px solid green;
                height: 75px; 
                display: flex;
                width: 100%;
                justify-content: flex-start;
                div{
                    &.track-info{
                    border: 1px solid #ff4500;
                    width: 50%;
                    } 
                    &.track-form{
                        height: 100%;
                        border: 2px solid red;
                        width: 50%;
                        position: relative;
                        z-index: 10;
                        &.visible{
                            overflow-y: visible;
                            background-color: white;
                            height: 50vh;
                        }
                   }
               }
            }
        }
        #editor-screen-right{
            // border: 1px solid purple;
            background-image: repeating-linear-gradient(
                -45deg, 
                white,
                white 10px, 
                rgb(247, 247, 247) 11px,
                rgb(247, 247, 247) 12px
                );
            // background-color: blue;
            // min-height: 100vh;
            margin: 10px;
            // border: 1px seagreen solid;
            // position: relative;
            // width: calc(100% - 20px);
            height: 100%;
            // top: 10px;
            // left: 10px;
            // z-index: 5;
        }
    }
}

.colors-editor{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    .modal-title{
        background-color: rgb(245,245,245);
        border-bottom: 1px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        height: 40px;
        h3{
            font-weight: normal;

        }
    }
    .colors-editor.box{
        background-color: white;
        width: 100%;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .color-pickers{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span{
                color: rgb(6,135,245);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: auto;
            border: none;
            // padding-top: 5px;
            height: 30px;
            input, button{
                // padding: 3px;
                color: white;
                background-color: rgb(6,135,245);
                font-size: 18px;
                width: 75px;
                border: none;
                border-radius: 3px;
            }
        }
    }
}