.edit-display{
    display: flex;
    flex-direction: column;
    // min-height: 1100px;
    .edit-panel{
        display: flex;
        flex-direction: column;
        min-height: 1100px;
        .edit-account-details{
            display: flex;
            flex-direction: column;
            width: 70vw;
    }
        label{
            align-self: flex-end;
        }
        input{
            width: 400px;
            align-self: center;
            margin: 5px;
        }
        button{
            margin: 10px;
            width: 100px;
        }
        a, a:visited{
            color: inherit;
            text-decoration: none;
            margin: 0;
        }
        &.media{
           height: 100%;
           flex-direction: row;
           span.border-span{
            display: block;
            width: 98%;
            margin: auto;
            border-bottom: 1px dotted #c9c7c7;
            letter-spacing: 5px;
        }
           .left{
               height: 100%;
               width: 50%;
               background-color: #f8f8f8;
               border-right: none;
               display: flex;
               flex-direction: column;
               padding-bottom: 100px;
               .selected-media{
                   padding: 10px;
                   margin-top: 20px;
                   position: relative;
                   right: -1px;
                   background-color: white;
                   border: 1px solid #e5e5e5;
                   border-right: 2px solid white;
                   border-left: 1px solid #42a4f7;
                   height: 90px;
                   display: flex;
                   cursor: pointer;
                   &.not-selected{
                       border-left: 1px solid transparent;
                       background-color: #f8f8f8;
                       border-right: 1px solid #e5e5e5;
                       &:hover{
                            background-color: rgb(252,252,252);
                       }
                   }
                   .cover-image{
                        height: 70px;
                        width: 70px;
                        margin-right: 5px;
                        border: 1px solid #c9c7c7;
                        &.empty{
                            border: 1px dashed #c9c7c7;
                        }
                   }
                   .media-info{
                       display: flex;
                       flex-direction: column;
                       justify-content: flex-start;
                       h2{
                           margin: 2px;
                           font-weight: normal;
                       }
                       span{
                           margin-left: 2px;
                       }
                   }
               }
               .general-controls{
                   display: flex;
                   flex-direction: column;
                   height: 100%;
                   h3{
                       color: #808080;
                       font-size: 11px;
                       padding-left: 10px;
                       padding-top: 20px;
                   }
                   .adder-buttons{
                       display: flex;
                       justify-content: space-between;
                       padding-top: 15px;
                       padding-right: 15px;
                    //    border: 1px solid red;
                       align-items: center;
                        button{
                            background-color: #0ec200;
                            color: white;
                            font-size: 14px;
                            font-weight: bold;
                            margin-left: 0px;
                            border: 1px solid #0a9b00;
                            cursor: pointer;
                            padding: 5px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        span{
                            color: #0687f5;
                            font-size: 13px;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                       }
                   }
                   .track-edit{
                       border-left: 1px solid transparent;
                       height: 75px;
                       &.selected{
                         border-left: 1px solid #42a4f7;
                         background-color: white;
                            .track-info{
                                border-top: 1px solid #ebebeb;
                                border-bottom: 1px solid #ebebeb;
                                &::after{
                                    content: "";
                                    border: 1px solid white;
                                    height: 73px;
                                    position: relative;
                                    top: -10px;
                                    left: 1px
                                }
                                &:hover{
                                    background-color: white;
                                }
                            }
                        }
                       &.subselected .track-info{
                           border-top: 1px solid transparent;
                       }
                       .track-info{
                            border-top: 1px dotted #dddddd;
                            padding-right: 0px;
                            &:hover{
                                background-color: #fcfcfc;
                            }
                       }
                       .track-form{
                           padding: 15px;
                           padding-top: 10px;
                           input, textarea{
                               border: 1px solid #ccc;
                               border-top: 1px solid rgb(174, 174, 174);
                               outline: 1px solid #42a3f700;
                               margin-bottom: 10px;
                               width: 400px;
                               &:focus-visible{
                                   border: 1px solid transparent;
                                   outline: 1px solid #3d9bfa;
                                   transition: .3s;
                                }
                           }
                           input{
                               font-size: 22px;
                               width: 405px;
                               margin-left: 0px;
                           }
                           span.label{
                               padding-top: 10px;
                           }
                           span.border-span{
                               position: relative;
                               left: -10px;
                               width: 95%;
                           }
                           span, textarea{
                               font-size: 12px;
                               padding-bottom: 5px;
                            }
                            .track-info-input{
                                display: flex;
                                flex-direction: column;
                            }
                            button{
                                background-color: #0687f5;
                                color: white;
                                font-size: 12px;
                                font-weight: bold;
                                margin-left: 0px;
                                border: 1px solid #0675d6;
                                cursor: pointer;
                                padding: 5px;
                                &:hover{
                                    text-decoration: underline;
                                }  
                                &:disabled{
                                    filter: contrast(20%) brightness(150%);
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .file-adder{
                        .audio-input-wrapper{
                            display: flex;
                            font-size: 12px;
                            border-bottom: 1px solid #ebebeb;
                            padding-bottom: 15px;
                            // justify-content: space-evenly;
                            // border: 1px solid red;
                            label{
                                font-size: 22px;
                                color: #158ef5;
                                cursor: pointer;
                                margin-right: 100px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            span{
                                color:rgb(157, 157, 157);
                                align-self: center;
                            }
                            input{
                                display: none;
                            }
                        }
                    }
                }
           }
           .right{
               border-left: 1px solid #e5e5e5;
               min-height: 100%;
               width: 50%;
               display: flex;
               form{
                   width: 448px;
                   margin-left: 0px;
                   margin-right: auto;
                   margin-top: 5px;
                   display: flex;
                   flex-direction: column;
                   align-content: flex-start;
                   padding: 15px;
                   padding-left: 22px;
                   div.title-wrapper{
                       position: relative;
                       width: 100%;
                       input{
                           margin-left: 0px;
                           margin-bottom: 10px;
                           width: 405px;
                           font-size: 22px;
                           border: 1px solid #ccc;
                           outline: 1px solid #42a3f700;
                           border-top: 1px solid rgb(174, 174, 174);
                           &:focus-visible{
                               border: 1px solid transparent;
                               box-shadow: 1px 1px 1px #ccc;
                               outline: 1px solid #3d9bfa;
                               transition: .3s;
                            }
                        }
                    }
                    span{
                        font-size: 12px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                    textarea{
                        border-top: 1px solid rgb(174, 174, 174);
                        width: 400px;
                        font-size: 12px;
                        border: 1px solid #ccc;
                        outline: 1px solid #42a3f700;
                        margin-bottom: 10px;
                       &:focus-visible{
                           border: 1px solid transparent;
                           outline: 1px solid #3d9bfa;
                           transition: .3s;
                       }
                   }
                   .default{
                       color: rgb(176,176,176);
                   }
               }
               .image-input-wrapper{
                    margin-top: 20px;
                    height: 210px;
                    width: 210px;
                    margin-right: auto;
                    border: 1px solid #c9c7c7;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    // position: relative;
                    // z-index: -1;
                    label, .remove-image{
                        font-size: 18px;
                        color: #158ef5;
                        cursor: pointer;
                        margin-right: 100px;
                        margin-left: auto;
                        margin-right: auto;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &.empty{
                        border: 1px dashed #c9c7c7;
                    }
                    span{
                        color:rgb(157, 157, 157);
                        align-self: center;
                    }
                    input{
                        display: none;
                    }
                    .remove-image{
                        background-color: white;
                        height: 18px;
                        width: 20px;
                        border: 1px solid #c9c7c7;
                        font-size: 11px;
                        font-weight: bolder;
                        position: relative;
                        top: 43%;
                        left: 43%;
                    }
               }
           }
        }
        ul {
            list-style: none;
            padding: 10px;
            padding-right: 0px;
            padding-left: 0px;
            width: 200%;
            li.track-edit{
                padding: none;
                padding-right: none; 
                display: flex;
                width: 100%;
                justify-content: flex-start;
                cursor: pointer;
                div{
                    &.track-info{
                    width: 50%;
                    display: flex;
                    font-size: 15px;
                    padding: 10px;
                        .track-num{
                            margin-left: 40px;
                            color:rgb(175, 175, 175);
                        }
                        .track-title{
                            margin-left: 5px;
                        }
                        .escape{
                            height: 20px;
                            width: 20px;
                            margin-left: auto;
                            margin-right: 20px;
                            color:rgb(175, 175, 175);
                            text-align: center;
                            line-height: 18px;
                            border-radius: 1px;
                            &:hover{
                                background-color:rgb(233, 233, 233);
                            }
                        }
                    } 
                    &.track-form{
                        // border: 1px solid red;
                        top: -10px;
                        left: 1px;
                        width: calc(50% - 1px);
                        position: relative;
                        z-index: 10;
                        cursor: default;
                        button{
                            cursor: pointer;
                        }
                        &.visible{
                            overflow-y: visible;
                            background-color: white;
                            height: 25vh;
                        }
                   }
               }
            }
            &.edit-errors{
                color: red;
                font-size: 14px;
                font-weight: bold;
            }
        }
        #editor-screen-right{
            background-image: repeating-linear-gradient(
                -45deg, 
                white,
                white 10px, 
                rgb(247, 247, 247) 11px,
                rgb(247, 247, 247) 12px
                );
            margin: 10px;
            margin-bottom: 0px;
            height: 100%;
            // position: relative;
            // z-index: 9;
        }
    }
}

.colors-editor{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    .modal-title{
        background-color: rgb(245,245,245);
        border-bottom: 1px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        height: 40px;
        h3{
            font-weight: normal;

        }
    }
    .colors-editor.box{
        background-color: white;
        width: 100%;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .color-pickers{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span{
                color: rgb(6,135,245);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: auto;
            border: none;
            // padding-top: 5px;
            height: 30px;
            input, button{
                // padding: 3px;
                color: white;
                background-color: rgb(6,135,245);
                font-size: 18px;
                width: 75px;
                border: none;
                border-radius: 3px;
            }
        }
    }
}

.deletor-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 0px;
    width: 500px;
    h2{
        font-size: 18px;
        background-color: #f5f5f5;
        // border-bottom: black;
        border-bottom: 1px solid #ebebeb;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: normal;
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    span{
        font-size: 14px;
        padding-top: 10px;
    }
    p{
        color: red;
        font-weight: bold;
        font-size: 14px;
        margin-top: 5px;
    }
    span, p {
        padding-left: 20px;
        margin-right: 15px;
    }
    .buttons-holder{
        display: flex;
        margin-bottom: 19px;
        justify-content: space-evenly;
        padding-bottom: 10px;
        button{
            color: white;
            background-color: rgb(6,135,245);
            border: none;
            width: 200px;
            height: 35px;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                background-color: rgb(0, 122, 228);
            }
        }
    }
}