#filter-all{
    background-color: rgb(89, 165, 226);
}
#filter-electronic{
    background-color: rgb(0, 211, 0);
}
#filter-rock{
    background-color: rgb(212, 28, 28);
}
#filter-hip-hop{
    background-color: rgb(40, 40, 173);
}
#filter-pop{
    background-color: rgb(255, 80, 217);
}
#filter-ambient{
    background-color: rgb(153, 168, 184);
}
