nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid black;
    .home-button{
        font-size: 20px;
        width: 160px;
        color: black;
        font-family: inherit;
        font-weight: bold;
        display: flex;
        .bandplace-star{
            height: 25px;
            width: 25px;
            position: relative;
            top: 7px;
            color: transparent;
            background-image: image_url("bandplaceStar.png");
            background-size: contain;
            display: block;
            z-index: 100;
        }
      }
    &.welcome-nav .nav-wrangler{
            height: 105px;
            display: flex;
            justify-content: space-evenly;
            .home-banner{
                font-size: 17px;
                align-self: flex-end;
                margin: 20px;
                display: flex;
                flex-direction: column;
                div{
                    font-size: 13px;
                    span.highlight{
                        font-weight: bolder;
                        background: -webkit-linear-gradient(45deg, blue, rgb(101, 209, 209) 50%, blue);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            .nav-links{
                align-self: flex-end;
                margin: 20px;
                display: flex;
                flex-direction: column;
                ul {
                    padding: 5px;
                    justify-self: right;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    margin-right: 0px;
                }
            }
        }
        &.active-nav{
            height: 50px;
            padding-top: 5px;
            display: flex;
            justify-content: space-between;
            .left-navbox{
                margin-left: 250px;
                margin-bottom: 5px;
                height: 100%;
                display: flex;
            }
            .right-navbox{
                margin-right: 300px;
                margin-bottom: 5px;
                height: 100%;
                display: flex;
                .icon{
                    font-size: 30px;
                    margin-left: 15px;
                }
                div{
                    display: inline-block;
                    cursor: pointer;
                    // &:hover{
                        // background-color: rgb(243,243,243);
                    // }
                }
            }
        }
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        height: 100%;
        color: black;
        font-weight: bold;
        li {
            &:hover {
            cursor: pointer;
            text-decoration: underline;
            }
        }
    }
    a {
        margin: 5px;
        text-decoration: none;
        color: black;
    }
    .dropdown-menu{
        display: none;
    }
    .dropdown-root{
        position: absolute;
        z-index: 20;
        top: 5px;
        .mini-prof-pic{
            height: 35px;
            width: 35px;
            img{
                border-radius: 100%;
            }
        }
            &:hover {
                background-color: transparent;
            .dropdown-menu{
                position: relative;
                top: 0;
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 5px;
                text-align: left;
                width: 238px;
                height: 361px;
                border: .5px solid rgba(172, 172, 172, 0.247);
                li {
                    width: 100%;
                    padding-left: 15px;
                    padding-top: 5px;
                    height: 100%;
                    vertical-align: center;
                    font-weight: 100;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(243,243,243);
                        text-decoration: none;
                    }
                    a {
                        margin: inherit;
                        display: block;
                    }
                    div#divider-line{
                        padding: none;
                        width: 80%;
                        border-top: 1px solid rgb(226, 226, 226);
                        margin: auto;
                        height: 1px;
                        align-self: center;
                        margin-bottom: 3px;
                    }
                    &#dropdown-divider:hover{
                        background-color: white;
                    }
                    &.not-available{
                        color: rgb(171, 171, 171);
                        cursor: default;
                        &:hover{
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}
.home-button:hover {
    text-decoration: none;
}
