.search-bar {
    // position: absolute;
    input{
        background-color: whitesmoke;
        width: 320px;
        height: 36px;
        border-radius: 3px;
        outline: none;
        border: none;
        text-align: left;
        padding-left: 10px;
        padding-right: 28px;
        font-size: 14px;
    }
    &:hover{
        text-decoration: none;
    }
    .icon{
        color: rgb(81, 81, 81);
        position: relative;
        font-weight: lighter;
        height: 17px;
        left: -25px;
        top: 2px;
        cursor: pointer;
    }
    ul{
        display: block;
        flex-direction: column;
        position: relative;
        background-color: white;
        width: 320px;
        border-radius: 2px;
        li{
            background-color: white;
            font-size: 11px;
            display: flex;
            height: 60px;
            padding: 5px;
            .search-result-info-box{
                display: flex;
                flex-direction: column;
                width: 270px;
                padding-left: 10px;
                span, p{
                    font-weight: normal;
                    margin: 0px;
                }
                h4{
                    margin: 0px;
                }
            }
            &.filter-selector{
                display: flex;
                border-bottom: 1px solid #f3f3f3;
                justify-content: space-evenly;
                height: 40px;
                text-align: center;
                text-justify: center;
                padding: 0px;
                margin-bottom: 2px;
                span{
                    font-size: 14px;
                    background-color: white;
                    color: #1DA0c3;
                    height: 100%;
                    font-weight: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 25%;
                    &::after{
                        content: "";
                        border-bottom: 2px solid transparent;
                        width: 100%;
                        top: 10px;
                        position: relative;
                    }
                    &:hover{
                        &::after{
                            content: "";
                            border-bottom: 2px solid #1DA0c3;
                            width: 100%;
                            top: 10px;
                            position: relative;
                        }
                    }
                    &.filter-active{
                        color: black;
                        // border-bottom: 2px solid black;
                        &::after{
                            content: "";
                            border-bottom: 2px solid black;
                            width: 100%;
                            top: 10px;
                            position: relative;
                        }
                        &:hover{
                            &::after{
                                content: "";
                                // border: 2px solid transparent;
                                // width: 100%;
                                // top: 18px;
                                // position: relative;
                            }
                        }
                    }
                }
                &:hover{
                    background-color: white;
                }
            }
            &:hover{
                text-decoration: none;
                background-color: #f3f3f3;
            }
        }
        &.invisible{
            display: none;
        }
        .art-box{
            height: 52px;
            width: 52px;
            &.ARTIST{
                border-radius: 50%;
            }
        }
    }
}