.auth-header{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    height: 105px;
    justify-content: space-around;
    .home-button a{
        color: black;
        margin-left: 355px;
    }
}

.session-form{
    background-color: rgb(243,243,243);
    h3 {
        justify-self: center;
        padding: 10px;
        margin: auto;
        border-bottom: 2px dotted grey;
    }
    form {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    input.submit-button{
        background-color: rgb(0,161,198);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin: auto;
        cursor: pointer;
    }
}

.modal-child .session-form {
    top: -200px;
    left: 0;
    border-radius: 10px;
}

.session-errors {
    list-style: none;
    color: red;
    font-size: small;
}