.session-form{
    margin: auto;
    justify-self: center;
    background-color: aliceblue;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    input {
        margin: auto;
        margin-left: 10px;
    }
}