.profile-main{
    display: flex;
    flex-direction: column;
    border: 10px solid indigo;
    width: 100%;
    height: 1400px;
    padding: 0;
    margin: 0;
    nav.artist-page-nav{
        height: 55px;
        border: 5px solid purple;
        position: static;
    }
    .profile-tryptich{
        border: 10px solid blue;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .profile-displaywindow{
            width: 900px;
            border: 3px solid green;
            display: flex;
            flex-direction: column;
            height: 1200px;
            &.edit{
                height: 100%;
            }
            .storefront-banner{
                border: 2px solid rgb(255, 123, 0);
                height: 150px;
            }
            nav.store-nav{
                position: static;
                border: 2px solid rgb(255, 217, 0);
                height: 30px;
            }
            .storefront-display{
                display: flex;
                height: 100%;
                .releases-index{
                    border: 2px solid red;
                    width: 750px;
                    display: flex;
                }
                .sidebar{
                    border: 2px solid maroon;
                    width: 150px;
                }
            }
            .album-panel, .song-panel{
                display: flex;
                width: 750px;
                border: 2px solid violet;
                .album-info, .song-panel{
                    &.left{
                        height: 100%;
                        width: 50%;
                        border: 1px solid gray;
                    }
                    &.right{
                        height: 100%;
                        width: 50%;
                        border: 1px solid steelblue;
                    }
                }
            }
        }
    }
    footer{
        height: 30px;
        width: 100%;
        border: 5px solid purple;
    }
}