.profile-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1300px;
    height: 100%;
    padding: 0;
    margin: 0;
    nav.artist-page-nav{
        height: 55px;
        position: static;
        z-index: 15;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid #ebebeb;
        .left{
            display: flex;
            div{
                margin: auto;
            }
            .add-content{
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 14px;
                &:hover{
                    background-color: #f8f8f8;
                }
            }
        }
        .home-button{
            padding-right: 20px;
            font-size: 18px;
            .bandplace-star{
                width: 22px;
                height: 22px;
                top: 0px;
                left: 12px;
            }
        }
        .right{
            .dropdown-root{
                top: 10px;
            }
            .dropdown-menu{
                top: 8px;
            }
        }
    }
    .profile-tryptich{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: #f8f8f8;
        color: #363636;
        .alt-color-text{
            color: #888888;
        }
        .link-text{
            &:hover{
                text-decoration: underline;
            }
            &.store-nav-link{
                text-decoration: none;
                height: 100%;
                &:hover{
                    border-top: 2px solid #0687f5;
                }
                &.current-link{
                    // color: #363636;
                    border-top: 2px solid #363636;
                }
            }
        }
        .profile-displaywindow{
            width: 975px;
            // border: 1px solid #ebebeb;
            border-top: none;
            display: flex;
            flex-direction: column;
            min-height: 1100px;
            height: 100%;
            margin-bottom: 100px;
            background-color: #ffffff;
            &.edit{
                display: flex;
                min-height: inherit;
            }
            .storefront-banner{
                height: 180px;
                text-align: center;
                display: flex;
                background-color: #ffffff;
                justify-content: center;
                img{
                    background-color: transparent;
                }
            }
            nav.store-nav{
                position: static;
                height: 30px;
                z-index: 4;
                display: flex;
                padding: 5px;
                justify-content: space-between;
                background-color: #f2f2f2;
                margin-bottom: 25px;
                ul {
                    height: 100%;
                    li {
                        margin-left: 10px;
                    }
                }
            }
            .storefront-display{
                display: flex;
                height: 100%;
                justify-content: space-evenly;
                .releases-index{
                    margin-top: 10px;
                    width: 750px;
                    display: flex;
                    ul{
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        row-gap: 10px;
                        column-gap: 10px;
                        align-content: flex-start;
                        li{
                            margin: 10px;
                            margin-right: auto;
                            font-size: 13px;
                            font-weight: bold;
                            // max-width: 200px;
                            // max-height: 200px;
                            a{
                                text-decoration: none;
                            }
                            img{
                                width: 232px;
                                height: 232px;
                            }
                        }
                    }
                }
                .sidebar{
                    width: 130px;
                    display: flex;
                    flex-direction: column;
                    font-size: 13px;
                    .artist-image{
                        max-height: 200px;
                        max-width: 130px;
                        min-height: 100px;
                        margin-top: 15px;
                        text-align: center;
                        display: flex;
                        h4{
                            font-size: 15px;
                        }
                        span{
                            margin: auto;
                        }
                    }
                    a{
                        color: inherit;
                        &:visited{
                            color: inherit;
                        }
                    }
                    h4.discog-label{
                        text-align: center;
                        position: relative;
                        top: 15px;
                        left: -5px;
                    }
                    .releases-index{
                        font-size: 13px;
                        li{
                            margin-bottom: 0px;
                        }
                        img{
                            max-width: 120px;
                            margin: 0;
                            max-height: 120px
                        }
                    } 
                    .bio-updater.box {
                        textarea{
                            resize: both;
                            width: 100%;
                            border: 1px solid lightgrey;
                            &:focus-visible{
                                border: 1px solid rgb(160,204,241);
                                outline: none;
                            }  
                        }
                    }
                    div.releases-index{
                        width: 100%;
                        ul{
                            width: 120px;
                            li{
                                width: 120px;
                                img{
                                    height: 120px;
                                    width: 120px;
                                }
                                span{
                                    text-decoration: none;
                                    // font-size: 20px;
                                    // font-weight: bold;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .media-panel{
                display: flex;
                width: 760px;
                justify-content: space-between;
                .media-info{
                    color: inherit;
                    &.left{
                        height: 100%;
                        width: 376px;
                        display: flex;
                        flex-direction: column;
                        color: inherit;
                        .title{
                            line-height: 1;
                            color: inherit;
                            // border: 1px solid olivedrab;
                            h2{
                                font-size: 28px;
                                font-weight: normal;
                                margin-top: 10px;
                                // border: 1px solid blue;
                                margin-bottom: 10px;
                            }
                            span, a{
                                // border: 1px solid red;
                                font-size: 14px;
                            }
                            .link-text{
                                font-weight: bolder;
                            }
                        }
                        #owner-buttons{
                            display: flex;
                            // border: 1px solid orangered;
                            // padding-left: none;
                            a, div{
                                margin: 10px;
                                border: 1px solid silver;
                                padding: 3px;
                                font-size: 13px;
                                text-align: center;
                                color: #0687f5;
                                text-decoration: none;
                                margin-left: 0px;
                                padding: 3px;
                                padding-left: 7px;
                                padding-right: 7px;
                                &:hover{
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }
                        }
                        .jukebox{
                            .sale-info{
                                height: 50px;
                                text-align: center;
                                text-justify: center;
                                margin-top: 10px;
                                color: rgb(172, 172, 172);
                                font-style: italic;
                            }
                            ul{
                                list-style: none;
                                a{
                                    color: inherit;
                                    &:visited{
                                        color: inherit;
                                    }
                                }
                            }
                        }
                        .description{
                            font-size: small;
                            color: inherit;
                        }
                        .tags{
                            margin-top: auto;
                            ul{
                                list-style: none;
                                display: flex;
                                margin-top: auto;
                                li{
                                    margin: 5px;
                                }
                            }
                        }
                    }
                    &.right{
                        margin-top: 15px;
                        height: 100%;
                        width: 350px;
                    }
                }
            }
        }
    }
    footer{
        height: 30px;
        width: 100%;
    }
}